ul {
	list-style-type: none;
	padding-left:10px;
}

ul li {
	border-bottom: 1px solid #999;
	padding: 4px 0;
}

li span {
	font-size: 90%;
}

.card {
	background: #fff;
	border: 1px solid #000;
	display: inline-block;
	margin: 10px;
	width:112px;
	height:175px;
	text-align:center;
	border-radius:5px;
	color:#111;
}

.card div:nth-of-type(1) {
	font-size: 28px;
	  float: left;
	  padding: 10px;
	  position: relative;
}

.card div:nth-of-type(2) {
	top: 75px;
	  right: 16px;
	  position: relative;
	  font-size: 16px;
}

.Guard {background:#FFC873;}
.Priest {background:#FFC3A4;}
.Baron {background:#E1A4FF;}
.Handmaid {background:#C2E4F9;}
.Prince {background:#FFFEA7;}
.King {background:#CBFFA7;}
.Countess {background:#A7BCFF;}
.Princess {background:#F8F9FF;}

#deck .card {
	background:#999;
}

#hand .card:hover, #deck .card:hover {
	cursor: pointer;
	transform: rotate(10deg);
}

#playerturn ul li:nth-of-type(1) {
	font-weight:bold;
}

#playerturn ul li:nth-of-type(1) ~ li {
	margin-left:20px;
	opacity:0.8;
}

#playerturn ul li.protected {
	color:rgb(102, 133, 255);
}

div.cardsleft {
	background: rgb(255, 39, 0);
	/* padding: 6px; */
	border-radius: 20px;
	width: 30px;
	height: 30px;
	margin-left: 93px;
	margin-top: -30px;
}

div.cardsleft p {
	padding-top:5px;
	color:white;
}